$assetimgPath : "/assets/images/university/img";

$redcolor: #b7202e;
$lightredcolor: #ed1c24;
$darkredcolor: #9b2928;

$blackcolor: #000;
$lightblackcolor: #333333;
$whitecolor: #fff;
$lightwhitecolor: #f5f6f6;
$greycolor: #000;
$paracolor: #000000;
$linkblue: #006699;
$linkdarkblue: #004466;
$whitecolorlight: #f5f6f6;
$grey: #58595b;

$grey-100: rgba(231, 232, 233, 0.1);
$grey-200: rgba(231, 232, 233, 0.2);
$grey-300: rgba(231, 232, 233, 0.4);
$grey-400: rgba(231, 232, 233, 0.6);
$grey-500: rgba(231, 232, 233, 0.7);

$yellow: #ffcb05;
$orange: #f58220;

$formcolor: #00973d;
$formblack: #58595b;

$headingff : 'Marcellus-Regular';
$paragraphmediumfff : 'FiraSans-Medium';
$paragraphff : 'FiraSans-Light';
$firasans : 'Fira Sans';